<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		
    		{{ content }}
    		
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:edi.ivanovic@gmail.com">email</a></li>
        		<li><a href="https://github.com/ediivanovic">github.com/ediivanovic</a></li>
			</ul>
		</footer>
	</body>
	<script type="text/javascript">
      		var disqus_shortname = 'ediivanovic';
      		var disqus_developer = 1;
      		(function () {
        		var s = document.createElement('script'); s.async = true;
        		s.type = 'text/javascript';
        		s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      		}());
    	</script>
</html>
